@media (max-width: 768px) {
  .main-header .container {
    flex-direction: column;
    text-align: center;
  }

  .main-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    z-index: 1000;
    margin-top: 10px;
  }

  .main-nav.open {
    display: block;
  }

  .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main-nav ul li {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .main-nav ul li a:hover {
    background: linear-gradient(to right, #9b59b6, #e91e63);
    color: #fff; 
    transition: background 0.3s ease;
    font-weight: bold;
  }

  .main-nav ul li a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  .main-nav ul li a:hover,
  .main-nav ul li a:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .fas.fa-bars.menu-icon {
    display: block;
  }
    
  .highlights-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .massage-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .therapists-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
    
  .footer-social,
  .footer-info {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
    
  .footer-info {
    text-align: left;
  }
}

@media (max-width: 480px) {
  
  .fas.fa-bars.menu-icon {
    display: block;
  }

  .highlights-grid {
    grid-template-columns: 1fr;
  }

  .massage-gallery {
    grid-template-columns: 1fr;
  }
  
  .therapists-grid {
    grid-template-columns: 1fr;
  }

  .other-contacts {
    border-left: none;
    border-top: 1px solid var(--primary-purple);
    padding-top: 30px;
    text-align: center;
  }
}